* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background-color: #d0d0e0;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
